In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import glob # To read all csv files in the directory
import seaborn as sns
import calendar

In [2]:
df = pd.read_csv('data/Kickstarter_2020-11-12T03_20_11_453Z/Kickstarter.csv')
df.describe()
len(df)

3690

In [3]:
df_try = pd.concat([pd.read_csv(f) for f in glob.glob('data/Kickstarter_2020-11-12T03_20_11_453Z/Kickstarter*.csv')], ignore_index = True)

In [10]:
df_try.head(1)

,backers_count,blurb,category,converted_pledged_amount,country,country_displayable_name,created_at,creator,currency,currency_symbol,...,source_url,spotlight,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type,blurb_length
0,34,"Add LED Strips to ANYTHING: User-Friendly, Mod...","{""id"":334,""name"":""DIY Electronics"",""slug"":""tec...",3305,US,the United States,1539907280,"{""id"":451742083,""name"":""Daniel Tooker"",""slug"":...",USD,$,...,https://www.kickstarter.com/discover/categorie...,False,False,canceled,1542221371,1.0,"{""web"":{""project"":""https://www.kickstarter.com...",3305.5,domestic,9.0

In [4]:
len(df_try)

213193

In [5]:
print(f"Of the {len(df_try)} projects in the dataset, there are {len(df_try[df_try.duplicated(subset='id')])} which are listed more than once.")

Of the 213193 projects in the dataset, there are 24209 which are listed more than once.

In [6]:
df_try['blurb_length'] = df_try['blurb'].str.split().str.len()

In [11]:
cols_to_convert = ['created_at', 'deadline', 'launched_at']
for c in cols_to_convert:
    df_try[c] = pd.to_datetime(df_try[c], origin='unix', unit='s')

In [12]:
launched_per_year_2020 = pd.DatetimeIndex(df_try["launched_at"]).year
launched_per_year_2020 = launched_per_year_2020.value_counts()
launched_per_year_2020

2015    33854
2020    33390
2019    27344
2016    26396
2017    25322
2014    23011
2018    22763
2013     9460
2012     6435
2011     3672
2010     1327
2009      219
Name: launched_at, dtype: int64

In [15]:
print(f"The dataset contains projects added to Kickstarter between {min(df_try.created_at).strftime('%d %B %Y')} and {max(df_try.created_at).strftime('%d %B %Y')}.")

The dataset contains projects added to Kickstarter between 22 April 2009 and 11 November 2020.

In [16]:
df_try.created_at.dtype

dtype('<M8[ns]')

In [18]:
df.blurb.dtype

dtype('O')

In [20]:
# Count length of each blurb
df['blurb_length'] = df['blurb'].str.split().str.len()

# Drop blurb variable
#df.drop('blurb', axis=1, inplace=True)

In [22]:
df['blurb_length']

0        4.0
1       14.0
2       16.0
3       20.0
4       22.0
5       20.0
6       14.0
7       19.0
8       14.0
9       23.0
10      16.0
11      17.0
12      13.0
13       9.0
14      20.0
15      23.0
16      11.0
17      19.0
18      23.0
19      22.0
20       8.0
21       6.0
22      17.0
23      17.0
24      21.0
25      20.0
26      19.0
27      17.0
28      21.0
29       5.0
        ...
3660    19.0
3661    19.0
3662    10.0
3663    21.0
3664    17.0
3665    25.0
3666    10.0
3667    20.0
3668    19.0
3669    19.0
3670    21.0
3671    22.0
3672     3.0
3673    17.0
3674    21.0
3675    14.0
3676    21.0
3677    17.0
3678    23.0
3679    20.0
3680    16.0
3681    24.0
3682    24.0
3683    16.0
3684    18.0
3685    18.0
3686    19.0
3687    26.0
3688    15.0
3689    16.0
Name: blurb_length, Length: 3690, dtype: float64